# Dependencies
node_modules/

# Build output
dist/

# Vite
.vite/

# TypeScript
*.tsbuildinfo

# Editor
.vscode/*
!.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
